body {
  background-color: rgb(243, 235, 217);
}

.titles-font {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
}

.page-font {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

/*--- HEADER BACKGROUND IMAGE --- */
/*Makes the backgound image cover for mobile devices*/
header {
  background: url("img/home.jpg") no-repeat;
  background-size: cover;
  min-height: 300px;
  min-width: 320px;
}

/*Image cover for tablet*/
@media screen and (min-width: 768px) {
  header {
    background: url("img/home.jpg") no-repeat;
    background-size: cover;
    min-height: 500px;
  }
}

/*Image cover for PC*/
@media screen and (min-width: 992px) {
  header {
    background: url("img/home.jpg") no-repeat;
    background-size: cover;
    min-height: 700px;
  }
}

.title {
  color: rgb(243, 235, 217);
  font-size: 10vw;
  text-shadow: 2px 2px 3px black;
  padding-top: 40px;
}

/* --- NAVIGATION BAR --- */
.navbar {
    background-color: rgba(219, 207, 186, 0.8);
 }
 .nav-link {
    color: rgb(243, 235, 217);
    font-size: 1.3em;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;    
}

a.nav-link:hover { /* Changes color to orange when hovering */
  color: rgb(255, 83, 73);
}

.dropdown-menu { /* Dropdown menu color */
  background-color: rgba(219, 207, 186, 0.9);
}

/* --- ARTICLES --- */
.rounded { /* All 3 images the same size */
    width: 100%;
    height: 300px;
    box-shadow: 4px 3px 4px darkgray;
}

.card { 
  background-color: rgb(243, 235, 217);
  border: none;
  min-width: 320px;
  transition: 0.6s;
  margin-left: auto;
  margin-right: auto;
}

.card a {
  text-decoration: none;
  color:rgb(255, 83, 73);
}

.card a:active { /* For all sizes when clicking the link, it becomes orange */
  color: rgb(255, 165, 0);
}
  
@media screen and (min-width: 992px) { /* Transition when passing the mouse over the card - for PC*/
  .card {
  background-color: rgb(243, 235, 217);
  border: none;
  opacity: 0.7;
  min-width: 320px;
  }
  .card:hover { 
    opacity: 1;
    } 
}

/* --- CONTACT --- */

@media (min-width: 767px) { /* Shows small contact info when mobile devices are used */            
  .hide-content-big {
     display: none;
  }
}

@media (max-width: 767px) { /* Shows full contact info on bigger screens */             
  .hide-content-small {
     display: none;
  }
}

.second-section {
  background-color:  rgb(161, 207, 107);
  margin-top: 2em;
  min-width: 320px;
  padding-top: 10px;
}

iframe { /* Makes the map min 300px */
  min-height: 350px;
}

/*Contact section for mobile devices*/
.contact {
  text-align: center;
  color: white;
  padding-top: 1em;
}

/*Contact section for tablet*/
@media screen and (min-width: 768px) {
  .contact {
    text-align: center;
    color: white;
    padding-top: 4em;
  }
}

/*Contact section for PC*/
@media screen and (min-width: 992px) {
  .contact {
    text-align: center;
    color: white;
    padding-top: 6em;
  }
}

/* CONTACT ICONS*/
.fa {
  padding: 15px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 10px;
}

.fa:active {
  color: rgb(255, 165, 0);
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

/* --- FOOTER --- */
footer {
  text-align: center;
  background-color:  rgb(161, 207, 107);
}

/* - - - E V E N T S - - - */

.events-title {
  color: rgb(255, 83, 73);
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
  text-align: center;
  margin: 15px;
}

/*Events section for mobile devices*/
.events-img {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

/*Events section for tablet*/
@media screen and (min-width: 768px) {
  .events-img {
    height: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Events section for PC*/
@media screen and (min-width: 992px) {
  .events-img {
    max-height: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

.carrousel-info {
  text-shadow: 2px 2px 2px brown;
}